{% extends "otree/FormPage.html" %}
{% load staticfiles otree_tags %}

{% comment %}
    this file used to be called Base.html
    If your app's templates contain this line:
    {% extends "global/Base.html" %}
    You should change it to:
    {% extends "global/Page.html" %}
{% endcomment %}


{% block global_styles  %}
    <style>
    @font-face {
    font-family: 'annie_use_your_telescope';
    src: local('annie_use_your_telescope'),
        url('{% static 'bad_influence/AnnieUseYourTelescope-Regular.ttf' %}');
}

html * {
    font-family: annie_use_your_telescope;
    }
body {
    font-size: 140.0%;
}
.choice-button-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
    .choice-button {
        background-color: whitesmoke;
        border-color: black;
        color: black;
        text-transform: capitalize;
        font-size: 100%;
        width: 45%;
    }

    </style>
{% endblock %}

{% block global_scripts  %}
{% endblock %}
